@use '../../../styles/carbon-config';

@use '../../../styles/type' as brandtype;
@use '@carbon/react/scss/spacing';
@use '@carbon/react/scss/theme';

.root {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-05;
}

.paragraph {
  @include brandtype.style('body');

  margin: 0;
  color: theme.$text-secondary;
}
